{% extends "@JangoMail/bs3/base.html.twig" %}

{% block page_header %}Crear Grupo{% endblock %}

{% form_theme form '@JangoMail/Form/form_bootstrap_3.2.x_horizontal_layout.html.twig' %}
{% form_theme form.recipients _self %}

{% block content %}
    {{ form_start(form, { action: path('JangoMailBundle_Grupos_crear') }) }}
    {{ form_row(form.name) }}
    <div class="row">
        {{ form_widget(form.recipients) }}
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block recipient_row %}
    <div class="col-sm-4">
        {% embed '@JangoMail/bs3/panel.html.twig' %}
            {% block header %}Miembro{% endblock %}

            {% block body %}
                {{ form_widget(form.email, { attr: {placeholder: form.email.vars.label }}) }}
                {{ form_widget(form.name, { attr: {placeholder: form.name.vars.label }}) }}
            {% endblock %}

        {% endembed %}
    </div>
    {#{{ form_widget(form) }}#}
    {#{{ form_row(form.email) }}#}
    {#{{ form_row(form.name) }}#}
{% endblock %}