{% extends "JangoMailBundle::base.html.twig" %}
{% block cuerpo %}
<div class="page-header">
    <h1>Editar Grupo <small><b>ID</b> {{ grupoID }}</small></h1>
</div>
{% for tipo, mensaje in app.session.getFlashes() %}
    <div class="alert alert-{{ tipo }}">{{ mensaje }}</div>
{% endfor %}
<div class="flash-message"></div>
<form action="{{ path('JangoMailBundle_Grupos_crear') }}" method="post">
     {{ form_widget(form) }}
        <input type="submit" value="Enviar Form" class="btn btn-primary" />
</form>
{% endblock %}