{% extends "JangoMailBundle:bs3:base.html.twig" %}

{% set paginate %}
{{ knp_pagination_render(logs, '@KnpPaginator/Pagination/twitter_bootstrap_v3_pagination.html.twig') }}
{% endset %}

{% block content %}
    <div class="page-header">
        <h1>Registros de Correos Enviados</h1>
    </div>
    {% for tipo, mensajes in app.session.flashBag %}
        {% for mensaje in mensajes %}
            <div class="alert alert-{{ tipo }}">{{ mensaje }}</div>
        {% endfor %}
    {% endfor %}
    {#{{ paginate }}#}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th style="width: 60%">Asunto del Mensaje</th>
                <th style="width: 16%">Fecha del Envio</th>
                <th>Error</th>
            </tr>
        </thead>
        <tbody style="font-size: 90%">
            {% for log in logs %}
                <tr>
                    <td>{{ log.id }}</td>
                    <td {#style="font-size: 90%"#}>
                        <a class="detalle" href="{{ path('JangoMailBundle_logs_view',{ 'id': log.id }) }}">
                            {{ log.email.subject }}
                        </a>
                        <span class="label label-{{ log.error ? 'danger' : (log.email.emailID == '- TEST -') ? 'info' : 'success' }}">
                            {{- log.email.emailID|default('ERROR') -}}
                        </span>
                    </td>
                    <td>{{ log.datetime.format('d-m-Y H:i:s') }}</td>
                    <td class="text-danger">
                        {{ log.error ? (log.error|split(':', 2))[1]|default(log.error) : '' }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="100">No hay Registros</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ paginate }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            $("a.detalle").on('click', function (event) {
                event.preventDefault();
                $("#ajax").load($(this).attr('href'))
            })
        });
    </script>
{% endblock %}
