<table class="table table-bordered">
    <tr class="panel-default"><th colspan="{{ cols|default(2) }}" class="panel-heading">{% block header %}{% endblock %}</th></tr>
        {% block body %}{% endblock %}
</table>

{%- macro item(label, value) -%}
<tr>
    <td style="width: 30%; white-space: nowrap"><strong>{{ label }}</strong></td>
    <td>{{ value }}</td>
</tr>
{%- endmacro -%}

{%- macro header(label) -%}
<tr class="panel-default">
    <th colspan="{{ cols|default(2) }}" class="panel-heading">{{ label }}</th>
</tr>
{%- endmacro -%}
